{% extends 'base/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

  <div class="ui message">
    <h1 class="ui header">Sea Bienvenido <strong>Usuario</strong></h1>
    <p>Sistema para la gestión de Recursos Humanos del CESFAM Sol de Oriente.
      Permite la administración de los datos de funcionarios y sus ausencias.
    </p>
    <ul>
        <li>Modulo de administración de funcionarios</li>
        <li>Modulo de gestión de ausencias</li>
        <li>Modulo de consulta de reportes</li>

    </ul>

  </div>
{% endblock %}